<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Survey</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
    <div>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/survey">Survey</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Links</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container" style="padding-top:10px">
        <legend class="border-bottom mb-4">Please fill out the survey below</legend>
        <form class="col-12" action="results" method="post">
          {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.age.label() }}
                {{ form.age() }}
            </div>
            <div class="form-group">
                {{ form.gender.label() }}
                {{ form.gender() }}
            </div>
            <div class="form-group">
                {{ form.incUrination.label() }}
                {{ form.incUrination() }}
            </div>
            <div class="form-group">
                {{ form.incThirst.label() }}
                {{ form.incThirst() }}
            </div>
            <div class="form-group">
                {{ form.weightLoss.label() }}
                {{ form.weightLoss() }}
            </div>
            <div class="form-group">
                {{ form.limbWeakness.label() }}
                {{ form.limbWeakness() }}
            </div>
            <div class="form-group">
                {{ form.incHunger.label() }}
                {{ form.incHunger() }}
            </div>
            <div class="form-group">
                {{ form.genitalThrush.label() }}
                {{ form.genitalThrush() }}
            </div>
            <div class="form-group">
                {{ form.blurryVision.label() }}
                {{ form.blurryVision() }}
            </div>
            <div class="form-group">
                {{ form.itching.label() }}
                {{ form.itching() }}
            </div>
            <div class="form-group">
                {{ form.irritability.label() }}
                {{ form.irritability() }}
            </div>
            <div class="form-group">
                {{ form.woundOrInfections.label() }}
                {{ form.woundOrInfections() }}
            </div>
            <div class="form-group">
                {{ form.muscleParalysis.label() }}
                {{ form.muscleParalysis() }}
            </div>
            <div class="form-group">
                {{ form.muscleStiffness.label() }}
                {{ form.muscleStiffness() }}
            </div>
            <div class="form-group">
                {{ form.hairLoss.label() }}
                {{ form.hairLoss() }}
            </div>
            <div class="form-group">
                {{ form.obese.label() }}
                {{ form.obese() }}
            </div>
            <div>
                <button class="btn db-button">{{ form.submit() }}</button>
            </div>
          </form>
      </div>
</html>
