body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.title-1{
  color:#ffffff;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
}

.button{
  position: relative;
  width: 380px;
  height: 100px;
  margin: 20px;
  line-height: 0px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  background-color: transparent;
  border: 1px solid #FF0000;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

.button:hover{
  border: none;
  color:#000;
  background:#FF0000;
}

.input{
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: 900;
  padding: 10px;
}

.input-button{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  font-weight: 900;
  color:#ffff00;
  padding: 20px;
}

.db-button{
  margin-bottom: 20px;
}

.body-1{
  margin-top: -24px;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0, 0),
    rgba(0,0,0, 1)
),url(https://images.unsplash.com/photo-1495653797063-114787b77b23?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

.text-left{
  margin-top: 20px;
}

.members{
  margin-top: 20px;
}
